.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stage {
    width: 605px; /* 좌석 div들의 전체 너비와 일치 */
    height: 50px;
    background-color: #333;
    color: white;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 10px 10px 30px 30px;
}

.seat-container {
    display: grid;
    grid-template-columns: repeat(11, 50px);
    grid-template-rows: repeat(14, 50px);
    gap: 5px;
    justify-content: center;
}


.seat {
    background-color: #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    font-size: 100%;
    width: 50px;
    height: 50px;
}

.seat.selected {
    background-color: #05F258;
}

.seat.confirmed {
    background-color: #013440;
}

.seat.cancel-target {
    background-color: #FF0000;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#confirmBtn {
    padding: 10px 20px;
    font-size: 16px;
}

#cancelContainer {
    display: none;
    align-items: center;
    margin-left: 10px;
}

#cancelBtn {
    padding: 10px 20px;
    font-size: 150%;
    background-color: #FF0000;
    color: #000000;
    font-weight: bold;
}

#confirmMessage {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 30px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

#confirmMessage.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.seat-info,
.audience-count {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 10px 15px;
    background-color: #f2f2f2;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

.seat-info {
    top: 20px;
    right: 20px;
}

.audience-count {
    top: 20px;
    left: 20px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#cancelAllBtn {
    padding: 10px 20px;
    font-size: 150%;
    margin-left: 10px;
    background-color: #FF0000;
    color: #000000;
    font-weight: bold;
}

.seat.discounted {
    background-color: purple; /* 할인권 사용 좌석 색상 */
}
.seat.discounted.cancel-target {
    background-color: #FF0000;
}
.prompt {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold; /* 폰트 굵기 추가 */
    text-align: center;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}


.prompt.show {
    opacity: 1;
    pointer-events: auto;
}

.prompt .buttons {
    margin-top: 20px;
}

.prompt button {
    position: relative;
    padding-right: 40px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cooldown-bar {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: rgba(255, 255, 255, 0.3);
    transition: width 0.9s linear;
    border-radius: 5px;
}

@keyframes cooldown {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.prompt button:hover {
    background-color: #45a049;
}

.prompt button.cancel-btn {
    background-color: #f44336;
}

.prompt button.cancel-btn:hover {
    background-color: #da190b;
}


.button-container button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5);
}

.button-container button:hover {
    background-color: #d0d0d0;
    transform: scale(1.05);
}

.button-container button:active {
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
}

#confirmBtn {
    background-color: #05F258;
    color: #000000;
    font-size: 150%;
    font-weight: bold;
}

#confirmBtn:hover {
    background-color: #04D052;
}

#confirmBtn:active {
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
}

#cancelBtn:hover,
#cancelAllBtn:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px rgba(255, 0, 0, 0.2);
}

.seat {
  transition: all 0.3s ease-in-out;
}

.seat:hover {
  transform: scale(1.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.seat.selected {
  animation: selected 0.5s ease-in-out;
}

.seat.confirmed {
  animation: confirmed 0.5s ease-in-out;
}

.seat.cancel-target {
  animation: cancel 0.5s ease-in-out;
}

@keyframes selected {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes confirmed {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes cancel {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.1);
  }
}



.legend {
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    padding: 10px 15px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
    bottom: 20px;
    right: 20px;
}

.legend h3 {
    margin-top: 0;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend-item .seat {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  transition: all 0.3s ease-in-out;
}

.legend-item span {
    font-size: 14px;
}

.legend-item .seat.cancel-target,
.legend-item .seat.confirmed,
.legend-item .seat.selected,
.legend-item .seat.available,
.legend-item .seat.discounted {
  animation: pulse 1s infinite; /* 애니메이션 추가 */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.seat.prohibited {
    background-color: #ccc;
    color: #ccc;
    cursor: not-allowed;
    pointer-events: none; /* 금지 좌석에 대한 클릭 이벤트 비활성화 */
}

.zoom-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.zoom-controls button {
    font-size: 20px;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border: none;
    background-color: #e0e0e0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    border-radius: 50%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2), -4px -4px 8px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-controls button:hover {
    background-color: #d0d0d0;
    transform: scale(1.1);
}

.zoom-controls button:active {
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.2), inset -4px -4px 8px rgba(255, 255, 255, 0.5);
}

@media (max-width: 1270px) {
  .audience-count, .seat-info, .legend {
    position: static;
    margin-bottom: 10px;
  }
  .container {
    transform-origin: 50% 5%; /* 축소 기준점을 상단 가운데로 설정 */
    margin: 0 auto; /* 가운데 정렬 */
  }
}
html, body {
    height: 100%;
    margin: 0;
}